absl-py
aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiohttp_socks
aiosignal
annotated-types
anyascii
anyio
async-timeout
attrs
audioread
babel
beautifulsoup4
blinker
blis
bottle
Brotli
browser-cookie3
cairocffi
CairoSVG
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
clr_loader
colorama
confection
contourpy
coqpit-config
coqui-tts
coqui-tts-trainer
cssselect2
curl_cffi
cycler
cymem
Cython
dateparser
decorator
defusedxml
Deprecated
distro
docopt
dotenv
duckduckgo_search
EbookLib
einops
encodec
et_xmlfile
exceptiongroup
fastapi
filelock
Flask
fonttools
frozenlist
fsspec
g4f
grpcio
gruut
gruut-ipa
gruut_lang_de
gruut_lang_en
gruut_lang_es
gruut_lang_fr
h11
httpcore
httpx
huggingface-hub
idna
inflect
itsdangerous
Jinja2
jiter
joblib
jsonlines
kiwisolver
langcodes
language_data
lazy_loader
librosa
llvmlite
lxml
lz4
magic-filter
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
monotonic-alignment-search
more-itertools
mpmath
msgpack
mss
multidict
murmurhash
nest-asyncio
networkx
nltk
nodriver
num2words
numba
numpy
odfpy
ollama
openai
openpyxl
packaging
pillow
platformdirs
plyer
pooch
preshed
primp
propcache
protobuf
proxy-tools
psutil
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
Pygments
pyparsing
PyPDF2
pysbd
python-crfsuite
python-dateutil
python-docx
python-dotenv
python-multipart
python-socks
pythonnet
pytz
pywebview
pywin32
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
shadowcopy
shellingham
six
smart-open
sniffio
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
srsly
starlette
SudachiDict-core
SudachiPy
sympy
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tinycss2
tokenizers
torch
torchaudio
tqdm
transformers
typeguard
typer
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
wasabi
weasel
webencodings
websockets
Werkzeug
WMI
wrapt
yarl